@charset "UTF-8";
/*utilities*/
/*Colores*/
/*Colores background*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
}

/*Tipografías*/
.titles, .left-section div h2, .footer h4, .pagel h4, .pager h4, .map-container div h3, .ticket-body a, .ticket-body, .service-card h3, h2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #110E55;
}

.text, .right-section h3, .left-section div ul li, .button-style, .button-offer-style, .navbar-item, .pagel p, .pager p, .form-size form div textarea, .form-size form div input, .form-size form div label, .map-container p, .ticket-header, .service-card ul li, .service-card p, .categories-container ul li p, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: black;
}

/*layout*/
body {
  background-color: #B3C2FF;
  padding: 4.625rem 0 0 0;
  max-width: 100%;
}

strong {
  font-weight: inherit;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: 1.25rem;
  background-color: #C5CEF2;
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
}
.catalog-container section h2 {
  font-weight: 400;
  font-size: 1.125rem;
  color: black;
}

.categories-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: none;
  gap: 0.625rem;
  padding: 0 0 0 0.9375rem;
  width: 30%;
}
.categories-container h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
}
.categories-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categories-container ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: none;
  border-bottom: 0.0625rem solid #fefefe;
}
.categories-container ul li p {
  margin: 0.625rem 0;
  font-weight: 400;
}

.main-servicios {
  background-color: white;
}

#services-container {
  max-width: 100%;
  padding: 0 1.25rem 0 1.25rem;
}

.service-banner {
  position: relative;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: 18.75rem;
  background-image: url("../assets/img/orange-background.svg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.service-banner-effect {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}
.service-banner-effect div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: 0;
  padding: 0.3125rem;
  position: absolute;
  top: -9.375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15.625rem;
  height: 15.625rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.service-banner-effect div img {
  width: 50%;
}

.service-card {
  background-color: #C5CEF2;
  border: 0.0625rem solid #C5CEF2;
  box-shadow: 0.625rem 0.625rem 0.5rem rgba(0, 0, 0, 0.2);
}
.service-card h3 {
  font-size: 1.5rem;
  color: black;
}
.service-card p {
  text-align: justify;
  margin-top: 0.625rem;
}
.service-card ul li {
  text-align: justify;
  margin-top: 0.625rem;
}
.service-card img {
  width: 100%;
  border-radius: 0.9375rem;
}

.offers-container {
  max-width: 100%;
  padding-top: 1.875rem;
  margin: 0;
  background-image: url("../assets/img/orange-background.svg");
}

.ticket-card {
  position: relative;
  width: 80%;
  background-color: #fefefe;
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: repeating-linear-gradient(to bottom, #fefefe 0, #fefefe 1.75rem, #C5CEF2 1.75rem, #C5CEF2 1.8125rem);
  justify-self: center;
  align-self: center;
}

.ticket-card::before,
.ticket-card::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFA87A;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.ticket-card::before {
  left: -1.25rem;
}

.ticket-card::after {
  right: -1.25rem;
}

.ticket-header {
  background-color: #110E55;
  color: white;
  text-align: center;
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin-bottom: 0.9375rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.15);
  font-size: 1.125rem;
  font-weight: 700;
}
.ticket-header p {
  margin: 0;
}

.ticket-body {
  text-align: center;
}
.ticket-body h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.3125rem;
}
.ticket-body p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.9375rem;
}
.ticket-body a {
  background-color: #110E55;
  border-color: #110E55;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.ticket-body a:hover {
  transform: scale(1.05);
  box-shadow: 0 0.3125rem 0.75rem rgba(0, 0, 0, 0.2);
}

.contact-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: none;
  background-image: url("../assets/img/orange-background.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 4.375rem 1.25rem 3.125rem 1.25rem;
}

.map-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: center;
  gap: none;
  width: 50%;
  padding: 0 1.25rem 0 0;
}
.map-container div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
}
.map-container div h3 {
  color: #110E55;
}
.map-container p {
  font-weight: 600;
  margin: 0;
}

.map {
  width: 100%;
  height: 21.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.form-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: center;
  gap: none;
  background-color: #B3C2FF;
  width: 50%;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.form-size {
  width: 70%;
}
.form-size form div label {
  font-weight: 700;
}
.form-size form div input {
  background-color: #E5D4FF;
  border: none;
  padding: 0.3125rem;
}
.form-size form div textarea {
  background-color: #E5D4FF;
  border: none;
  padding: 0.3125rem;
}

.img-ppal-style {
  width: 100%;
  height: auto;
  margin-top: 0.9375rem;
}

.bgcategories {
  max-width: 100%;
  width: 100%;
  background-image: url("../assets/img/orange-background.svg");
  background-position: center;
  background-size: cover;
}

.categories {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
}

#offers {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/cuadros-azul.svg");
  background-position: center;
  background-size: cover;
}

.discount-banner {
  padding: 0.625rem 0.0063rem;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.625rem;
  overflow-x: hidden;
}
.discount-banner p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.icon-style {
  width: 0.9375rem;
  height: 0.9375rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 2.5rem 1.25rem 3.125rem 1.25rem;
  background-color: #E5D4FF;
}

.pagel h4, .pager h4 {
  font-size: 1.5rem;
}
.pagel p, .pager p {
  text-align: justify;
  font-weight: 400;
}

.footer-style {
  background-color: #90A1E6;
}

.footer h4 {
  font-size: 1rem;
}

.footer-col {
  padding: 0 20px;
}
.footer-col p {
  font-size: 0.8125rem;
}

.reservados {
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

/*componentes*/
.navbar {
  max-width: 100%;
  width: 100%;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  background-color: #B3C2FF;
}

.navbar-item {
  font-size: 0.8125rem;
  font-weight: 400;
}

.nav-link.active {
  color: #110E55;
  font-weight: 700;
}

.my-card {
  background-color: #E5D4FF;
  width: 100%;
  height: 14.375rem;
  border: 0.0625rem solid #E5D4FF;
}

.my-card-title, .my-card-title-catalog {
  padding-top: 0.3125rem;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.my-card-text, .my-card-text-catalog {
  padding-top: 0.3125rem;
  padding-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.img-item-style, .img-item-style-categories {
  width: 60%;
  height: auto;
  margin-bottom: 0.9375rem;
  object-fit: contain;
  border-radius: 0.9375rem;
}

.img-item-style-categories {
  filter: drop-shadow(0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5));
  width: 30%;
  border-radius: 0;
  margin-bottom: 0;
}

.my-card-title-catalog {
  font-size: 1rem;
}

.my-card-text-catalog {
  font-size: 0.8125rem;
}

.button-style, .button-offer-style {
  text-decoration: none;
  color: black;
  background-color: #FFA87A;
  padding: 0.3125rem 0.9375rem;
  border-radius: 1.25rem;
  border-color: #FFA87A;
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
}
.button-style:hover, .button-offer-style:hover {
  background-color: #110E55;
  border-color: #110E55;
}

#item-cotiza {
  display: none;
}

.button-offer-style {
  transition: all 0.5s;
  margin: 0.3125rem;
}

.button-offer-style span {
  position: relative;
  transition: 0.5s;
}

.button-offer-style span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  right: -1.25rem;
  transition: 0.5s;
}

.button-offer-style:hover span {
  padding-right: 1.5625rem;
}

.button-offer-style:hover span:after {
  opacity: 1;
  right: 0;
}

.logo-style {
  width: 4.375rem;
  height: 4.375rem;
  filter: drop-shadow(0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5));
}

.ticket-container {
  max-width: 100%;
  width: 100%;
  background: linear-gradient(135deg, #E5D4FF 0%, #90A1E6 100%);
  border-radius: 1.25rem;
  padding: 2.5rem;
  position: relative;
  box-shadow: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.bottom-perforation {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #90A1E6;
  border-radius: 50%;
  right: 31.8%;
  bottom: -0.9375rem;
  z-index: 1;
}

.perforation-line {
  position: absolute;
  right: 33%;
  top: 0;
  bottom: 0;
  width: 0.1875rem;
}

.perforation-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #333 40%, transparent 40%);
  background-size: 0.625rem 1.25rem;
  background-position: center;
  background-repeat: repeat-y;
}

.perforation-line::before {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #90A1E6;
  border-radius: 50%;
  left: 40%;
  transform: translateX(-50%);
  top: -0.9375rem;
  z-index: 1;
}

.ticket-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.left-section {
  max-width: 100%;
  width: 60%;
  flex: 1;
}
.left-section div ul li {
  list-style: circle;
  font-weight: 400;
}

.right-section {
  max-width: 100%;
  width: 30%;
  text-align: center;
}
.right-section h3 {
  color: white;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.notebook {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  max-width: 100%;
  width: 90%;
  padding: 1.25rem;
}

.pagel, .pager {
  position: relative;
  width: 50%;
  height: 31.25rem;
  padding: 1.5625rem 3.125rem 1.5625rem 1.5625rem;
  background-image: linear-gradient(rgba(145, 162, 194, 0.4), rgba(145, 162, 194, 0.4)), url("../assets/img/blue-background.svg");
  background-position: center;
  background-size: cover;
  border-radius: 1%;
  box-shadow: -10px 10px #fff, -20px 20px rgba(0, 0, 0, 0.37);
}

.pager {
  padding: 1.5625rem 1.5625rem 1.5625rem 3.125rem;
  box-shadow: 10px 10px #fff, 20px 20px rgba(0, 0, 0, 0.37);
}

.circlesl, .linel, .liner, .circlesr {
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  top: 0.9375rem;
  right: 0.625rem;
  background-color: #E5D4FF;
  border-radius: 50%;
  color: #E5D4FF;
  box-shadow: 0 2.1875rem, 0 4.375rem, 0 6.5625rem, 0 8.75rem, 0 10.9375rem, 0 13.125rem, 0 15.3125rem, 0 17.5rem, 0 19.6875rem, 0 21.875rem, 0 24.0625rem, 0 25.9375rem, 0 28.125rem;
}

.circlesr {
  right: 0;
  left: 0.625rem;
}

.linel, .liner {
  width: 2.0625rem;
  height: 0.9375rem;
  top: 0.125rem;
  right: -1.25rem;
  border-radius: 0.625rem;
  background-color: black;
  color: black;
}

.liner {
  right: 0;
  left: -1.25rem;
}

/*mediaq*/
@media (max-width: 61.875rem) {
  #item-cotiza {
    display: inline-block;
    font-weight: 700;
  }
  #button-outside {
    display: none;
  }
  .img-item-style, .img-item-style-categories {
    width: 40%;
  }
  .notebook {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .pagel, .pager {
    width: 100%;
    height: auto;
    padding: 1.5625rem;
  }
  .circlesl, .circlesr, .linel, .liner {
    display: none;
  }
  .categories {
    max-width: 90%;
  }
  .categories-container {
    width: 45%;
  }
  .ticket-card {
    width: 90%;
  }
  .ticket-header {
    font-size: 1rem;
  }
  .ticket-body h3 {
    font-size: 1.125rem;
  }
  .ticket-body p {
    font-size: 0.8125rem;
    padding: 0.625rem;
    margin-bottom: 0;
  }
  .ticket-body a {
    font-size: 0.8125rem;
  }
}
@media (max-width: 48rem) {
  .img-item-style-categories {
    width: 20%;
  }
  #services-container div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }
  #services-container div div {
    width: 100%;
  }
  .service-card img {
    width: 50%;
  }
  .ticket-container {
    padding: 20px;
  }
  .bottom-perforation {
    display: none;
  }
  .perforation-line {
    display: none;
  }
  .ticket-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }
  .ticket-content h2 {
    font-size: 1.5rem;
  }
  .left-section {
    width: 100%;
  }
  .right-section {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .map-container {
    width: 90%;
  }
  .form-style {
    width: 90%;
  }
}
/* Línea divisoria entre columnas del footer */
@media (min-width: 768px) {
  .footer-col:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 36rem) {
  .img-item-style, .img-item-style-categories {
    width: 30%;
  }
  .img-item-style-categories {
    width: 20%;
  }
  .catalog-container {
    flex-direction: column;
    gap: 3.75rem;
  }
  .categories-container {
    width: 100%;
  }
}
@media (max-width: 20rem) {
  .img-item-style, .img-item-style-categories {
    width: 50%;
    margin-bottom: 0.625rem;
  }
  .service-card img {
    width: 100%;
  }
  .img-item-style-categories {
    width: 40%;
    margin-bottom: 0.625rem;
  }
  .button-offer-style {
    font-size: 1rem;
  }
  #offers div h3 {
    font-size: 1.125rem;
  }
  .about-us-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: none;
    gap: 1.5625rem;
    grid-template-areas: "grid3" "grid2" "grid1" "grid4";
  }
  .grid2 {
    padding: 0;
  }
  .grid3 {
    justify-content: center;
  }
  .grid3 img {
    width: 50%;
  }
  .grid4 {
    padding: 0;
  }
  #services-container div div h3 {
    font-size: 1.125rem;
  }
  .offers-container div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .offers-container div div {
    width: 100%;
    padding: 0;
  }
  .contact-us {
    flex-direction: column;
    padding: 3.125rem 1.25rem 3.125rem 1.25rem;
  }
  .map-container {
    width: 100%;
    padding: 0 0 3.125rem 0;
  }
  .map-container div h3 {
    font-size: 1.5rem;
  }
  .map-container p {
    font-size: 0.8125rem;
  }
  .form-style {
    width: 100%;
  }
  .footer-style {
    font-size: 0.8125rem;
  }
}

/*# sourceMappingURL=style.css.map */
