/*Colores*/
$colorPrincipal: #110E55;
$colorSecundario: white;
$colorTerciario: black;
$colorPromo: #333;
$colorPromo2: #666;

/*Colores background*/
$bgColor1:#B3C2FF;
$bgColor2: #FFA87A;
$bgColor3: #E5D4FF;
$bgColor4: #90A1E6;
$bgColor5: #C5CEF2;
$bgColor6: #fefefe;
$bgColor7: #d9d9d921;


$borderColorPrincipal: #ccc;