.my-navbar{
    max-width: 100%;
    padding-top: .625rem;
    padding-right:1.25rem;
    background-color: $bgColor1;

    
}

.my-navbar-item{
        @extend .text;
        font-size: map-get($font-sizes , l);
        font-weight: map-get($font-weights, regular);

        
    }
    .nav-link.active{
            color: $colorPrincipal;
            font-weight: map-get($font-weights, bold);
        }