.catalog-container{
    @include flex(row, nowrap, none, none, 1.25rem);
    background-color: $bgColor5;
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;

    section{
        h2{
            font-weight: map-get($font-weights , regular);
            font-size: map-get($font-sizes , l);
            color: $colorTerciario;
        }
    }
}

.categories-container{
    @include flex(column, nowrap, left, none, .625rem);
    padding: 0 0 0 .9375rem;
    width: 30%;

    h2{
        font-weight: map-get($font-weights , regular);
        font-size: map-get($font-sizes , xl);
        color: $colorTerciario;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            @include flex(row, nowrap, space-between, center, none);            
            border-bottom: .0625rem solid $bgColor6;

            p{
            @extend .text;
            margin: .625rem 0;
            font-weight: map-get($font-weights, regular);
        }
        }
    }
}

