.offers-container{
    max-width: 100%;
    padding-top: 1.875rem;
    margin: 0;
    background-image: url('../assets/img/orange-background.svg');
}

.ticket-card {
    position: relative;
    width: 80%;
    background-color: $bgColor6;
    padding: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 0 .25rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-image: repeating-linear-gradient(
        to bottom,
        $bgColor6 0,
        $bgColor6 1.75rem,
        $bgColor5 1.75rem,
        $bgColor5 1.8125rem
    );
    justify-self: center;
    align-self: center;
}


.ticket-card::before,
.ticket-card::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $bgColor2;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.ticket-card::before {
    left: -1.25rem;
}

.ticket-card::after {
    right: -1.25rem;
}

.ticket-header {
    @extend .text;
    background-color: $colorPrincipal;
    color: $colorSecundario;
    text-align: center;
    padding: .625rem;
    border-radius: .625rem;
    margin-bottom: .9375rem;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.15);
    font-size: map-get($font-sizes , l);
    font-weight: map-get($font-weights , bold);

    p{
        margin: 0;
    }
}

.ticket-body {
    @extend .titles;
    text-align: center;

    h3{
        font-size: map-get($font-sizes , xl);
        color: $colorPromo;
        margin-bottom: .3125rem;
    }

    p{
        font-size: map-get($font-sizes , m);
        color: $colorPromo2;
        margin-bottom: .9375rem;
    }

    a{
        @extend .titles;
        background-color: $colorPrincipal;
        border-color: $colorPrincipal;
        color: $colorSecundario;
        font-size: map-get($font-sizes , m);
        font-weight: map-get($font-weights , regular);

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 .3125rem .75rem rgba(0, 0, 0, 0.2);
        }

    }
}
