.discount-banner{
    padding: .625rem .0063rem;
    width: 100%;
    background-color: $colorSecundario;
    @include flex(row, none, space-evenly, center, .625rem);
    overflow-x: hidden; 

    p{
        margin: 0;
        font-size: map-get($font-sizes , l);
        font-weight: map-get($font-weights , bold);
    }
}

.icon-style{
        width: .9375rem;
        height: .9375rem;
    }

.discount{
    padding: 1.25rem;
    @include flex(column, wrap, justify, none, 1.25rem);

    ul{
        margin: 0;

        li{
            list-style: circle;
            @extend.text;
            font-weight: map-get($font-weights , regular);
        }
    }

    a{
        width: fit-content;
    }

    h3{
        color: $colorPrincipal;
        margin: 0;
        font-size: map-get($font-sizes , xl);
        font-weight: map-get($font-weights , bold);
    }
}
