#offers{
    width: 100%;
    height: auto;
    background-image: url('../assets/img/cuadros-azul.svg');
    background-position: center;
    background-size: cover; 
}

.discount-banner{
    padding: .625rem .0063rem;
    width: 100%;
    background-color: $colorSecundario;
    @include flex(row, nowrap, space-evenly, center, .625rem);
    overflow-x: hidden; 

    p{
        margin: 0;
        font-size: map-get($font-sizes , l);
        font-weight: map-get($font-weights , bold);
    }
}

.icon-style{
        width: .9375rem;
        height: .9375rem;
    }


