.about-us{
    @include flex(column, nowrap, center, center, 0);
    padding: 2.5rem 1.25rem 3.125rem 1.25rem;
    background-color: #E5D4FF;
}

.pagel{
    h4{
        @extend .titles;
    font-size: map-get($font-sizes , xl);
    }

    p{
        @extend .text;
        text-align: justify;
        font-weight: map-get($font-weights , regular);
    }
}
